.bar {
    margin: 0 1px;
}

.bar.regular {
    background-color: #42fcff !important;
}

.bar.current {
    background-color: #ffa442 !important;
}

.bar.swapped {
    background-color: #ff429d !important;
}

html, body {
    height: 100%;
}

#body {
    display: -ms-flexbox;
    display: flex;
    background-color: #000;
    background-image: url("background.jpg");
    background-repeat: repeat-x;
    background-attachment: fixed;
    box-shadow: inset 0 0 15rem rgba(0, 0, 0, .8);
}

.body-container {
    max-width: 60em;
    max-height: 100%;
    background-color: #333;
    box-shadow: 0 0 1em black;
}

#canvas {
    background-color: #333;
    height: 50vh;
}

#runButton {
    border-color: limegreen;
    color: limegreen;
}

#runButton:hover {
    background-color: limegreen;
    color: #333;
}

#stopButton {
    border-color: red;
    color: red;
}

#stopButton:hover {
    background-color: red;
    color: #333;
}

#newArray {
    border-color: #42fcff;
    color: #42fcff;
}

#newArray:hover {
    color: #333;
    background-color: #42fcff;
}

.input-group-text {
    border-color: #42fcff !important;
    color: #42fcff !important;
    background-color: transparent !important;
}