.bar {
    margin: 0 1px;
}

.bar.regular {
    background-color: cornflowerblue!important;
}

.bar.current {
    background-color: chartreuse!important;
}

.bar.swapped {
    background-color: gold!important;
}
