<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="{{ url_for("static", filename="styles.css") }}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <script src="{{ url_for("static", filename="scripts/script.js") }}"></script>
    <title>Algorithm Visualisation</title>
</head>
<body class="text-center p-3" id="body">
<div class="body-container h-100 p-3 mx-auto flex-column align-items-center justify-content-center">
    <header class="mb-auto">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand m-1"
               href="#">Algorithm Visualization</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                 id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="input-group m-1">
                            <div class="input-group-prepend">
                                <label class="input-group-text"
                                       for="arraySize">Array size:</label>
                            </div>
                            <input class="form-control"
                                   type="number"
                                   id="arraySize"
                                   placeholder="Array size"
                                   aria-describedby="newArray">
                            <div class="input-group-append">
                                <button type="button"
                                        class="btn btn-outline-light"
                                        id="newArray"
                                        onclick="getArray()">New array
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="input-group m-1">
                            <div class="input-group-prepend">
                                <label class="input-group-text"
                                       for="algorithms">Select algorithm:</label>
                            </div>
                            <select class="custom-select"
                                    id="algorithms"
                                    aria-describedby="runButton">
                                <option selected>Select algorithm...</option>
                                {% for algorithm in algorithms %}
                                    <option value="{{ algorithm.key }}">{{ algorithm.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-light"
                                        type="button"
                                        id="runButton"
                                        onclick="runAlgorithm()">Run
                                </button>
                                <button class="btn btn-outline-light"
                                        type="button"
                                        id="stopButton"
                                        onclick="stopAlgorithm()">Stop
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container w-100 m-auto p-3">
        <div class="d-inline-flex align-items-end mx-auto w-100 justify-content-center"
         id="canvas">
            <h1 class="text-muted">Press "New array" to generate new array, then select algorithm and press "Run"</h1>
        </div>
    </div>
</div>
</body>
</html>
